body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #637ca1;
    padding: 20px;
}

.main-container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-items: center;
}


.card {
 
    background: linear-gradient(135deg, #5e4545, #f9f9ff);
    border-radius: 16px;
    border: 3px solid gold;
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}


.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color:linear-gradient(135deg, #5e4545, #f9f9ff);
}

.card-body {
    padding: 15px;
}

.card-title {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333;
}

.card ul {
    padding-left: 18px;
    margin: 5px 0 10px;
}

.card h6 {
    margin-top: 10px;
    color: #555;
}
.castle-container {
    background-image: url('https://i.pinimg.com/474x/de/fc/d8/defcd86881ac78215dbdbc1b708fc467.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.castle-container {
    background-attachment: fixed;
}